#id3{
    background-color:white;
    margin:0px;
    padding:0px;
    display:none;
    top:0px;
    position:relative;
}
#id4{
    background-color:white;
    margin:0px;
    padding:0px;
    display:none;
    top:0px;
    position:relative;
}
#id5{
    background-color:white;
    margin:0px;
    padding:0px;
    display:none;
    top:0px;
    position:relative;
}
#id6{
    background-color:white;
    margin:0px;
    padding:0px;
    display:none;
    top:0px;
    position:relative;
}
.picture5{
	position:relative;
	left:200px;
	width:800px;
	height:300px;
	border-top:10px green solid;
	border-bottom:10px green solid;
	padding:10px;
}
.imge2-1{
      width:400px;
      height:260px;
      float:left; 
}
.space{
	float:right;
	width:390px;
	height:260px;
}
.font4{
	font-size:24px;
}
.picture6{
	position:relative;
	left:200px;
	width:800px;
	height:300px;
	border-top:10px #00ff00 solid;
	border-bottom:10px #00ff00 solid;
	padding:10px;
	top:30px;
}
.imge2-2{
      width:400px;
      height:260px;
      float:left; 
}
.font3{
	font-size:20px;
	position:relative;
	top:0px;
}
.picture7{
	position:relative;
	left:200px;
	width:800px;
	height:300px;
	border-top:10px blue solid;
	border-bottom:10px blue solid;
	padding:10px;
}
.picture8{
	position:relative;
	left:200px;
	width:800px;
	height:300px;
	border-top:10px #0000ff solid;
	border-bottom:10px #0000ff solid;
	padding:10px;
	top:10px;
}
.font5{
	font-size:22px;
}
.picture9{
	position:relative;
	left:200px;
	width:800px;
	height:300px;
	border-top:10px yellow solid;
	border-bottom:10px yellow solid;
	padding:10px;
}
.picture10{
	position:relative;
	left:200px;
	width:800px;
	height:300px;
	border-top:10px #ffff00 solid;
	border-bottom:10px #ffff00 solid;
	padding:10px;
	top:10px;
}
.font6{
	font-size:18px;
}
.picture11{
	position:relative;
	left:200px;
	width:800px;
	height:300px;
	border-top:10px silver solid;
	border-bottom:10px silver solid;
	padding:10px;
}
.picture12{
	position:relative;
	left:200px;
	width:800px;
	height:300px;
	border-top:10px #c0c0c0 solid;
	border-bottom:10px #c0c0c0 solid;
	padding:10px;
	top:10px;
}
.font7{
	font-size:19px;
}