body{
	margin:0px;
	padding:0px;
	background-color:white;
	width:100%;
	height:1700px;
	border:1px green solid;
}
#header{
	margin:0px;
	padding:0px;
	margin-left:300px;
	width:800px;
	height:400px;
	}
.imge1{
	width:400px;
	height:200px;
    bottom:0px;
    right:400px;
    float:left;
    display:block;
}
.imge2{
	width:400px;
	height:200px;
	top:-200px;
	left:400px;
	float:right;
	display:block;
}
.imge3{
	width:400px;
	height:200px;
	top:200px;
	right:400px;
	float:left;
	display:block;
}
.imge4{
	width:400px;
	height:200px;
	top:-200px;
	left:400px;
	float:right;
	display:block;
}
#id1{
     margin:0px;
	 padding:5px;
	 top:0px;
     background-color:#000075;
     width:100%;
     height:50px;
    }
 li{
 	display:inline;
 }
 a{
 	text-decoration:none;
 	font-size:30px;
 }
 .position1{
 	left:300px;
 	position:relative;
 }
 .position2{
 	left:400px;
 	position:relative;
 }
 .position3{
 	left:500px;
 	position:relative;
 }
 .position4{
 	left:600px;
 	position:relative;
 }
 .position5{
 	left:700px;
 	position:relative;
 }
#id2{
    background-color:white;
    margin:0px;
    padding:0px;
    display:block;
    top:0px;
    position:relative;
}
.font1{
	font-size:20px;
}
.font{
	text-align:center;
	font-size:50px;
	color:red;
}
.picture1{
	width:600px;
	height:330px;
	border-top:10px green solid;
	border-bottom:10px green solid;
	float:left;
	left:50px;
	position:relative;
}
.imge1-1{
	width:600px;
	height:282px;
	top:-10px;
	position:relative;
}
.picture2{
	width:600px;
	height:330px;
	border-top:10px blue solid;
	border-bottom:10px blue solid;
	float:right;
	left:-50px;
	position:relative;
}
.imge1-2{
	width:600px;
	height:282px;
	top:-10px;
	position:relative;

}
.picture3{
	width:600px;
	height:330px;
	border-top:10px yellow solid;
	border-bottom:10px yellow solid;
	float:left;
	left:50px;
	position:relative;
	top:20px;
}
.imge1-3{
	width:600px;
	height:282px;
	top:-10px;
	position:relative;

}
.picture4{
	width:600px;
	height:330px;
	border-top:10px silver solid;
	border-bottom:10px silver solid;
	float:right;
	left:-50px;
	position:relative;
	top:20px;
}
.imge1-4{
	width:600px;
	height:282px;
	top:-10px;
	position:relative;

}
#imge{
	margin:0px;
	padding:0px;
    position:relative;
    top:80px;
    left:30px;
}
.font2{
	font-size:20px;
	position:relative;
	top:620px;
	left:-630px;
}
.tx{
	width:100%;
	height:210px;
}
.photo{
	width:200px;
	height:200px;
	left:50px;
}
